.main, .header {
  background: url('../../images/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header {
  max-width: 1440px;
  min-height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgba(196, 196, 196, 0.01) 1px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header__title {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 104px;
  color: white;
  cursor: url('../../images/pointer.svg'), pointer;
}

.header__navigation-box {
  margin-right: 104px;
}

.header_theme-white {
  background: white;
  border-bottom: solid rgba(8, 29, 45, 0.3) 1px;
}

.header__title_theme-white {
  color: #1A1B22;
}
